* {
    box-sizing: border-box;
}
html, body {
    background-color: #ededed;
}
header {
    height: 160px;
    width: 100%;
    margin-bottom: 2em;
    background: #0061AA;
}
footer {
    margin-top: 8em;
    font-size: 0.6em;
    text-align: center;
    color: #545859;
}
.container {
    max-width: 960px;
    margin: 0px auto;
}
.container.small {
    max-width: 660px;
}
.container.wide {
    max-width: 1200px;
}
.container.fluid {
    max-width: 100%;
}
.grid > .row {
    display: flex;
    overflow-wrap: normal;
}
.grid > .row .cell {
    flex: 1;
}
.grid > .row .cell.of-1 {
    flex: 0 0 100%;
}
.grid > .row .cell.of-2 {
    flex: 0 0 50%;
}
.grid > .row .cell.of-3 {
    flex: 0 0 33.33333%;
}
.grid > .row .cell.of-4 {
    flex: 0 0 25%;
}
.grid > .row .cell.of-5 {
    flex: 0 0 20%;
}
.grid > .row .cell.of-6 {
    flex: 0 0 16.66667%;
}
.grid > .row .cell.of-7 {
    flex: 0 0 14.28571%;
}
.grid > .row .cell.of-8 {
    flex: 0 0 12.5%;
}
.grid > .row .cell.of-9 {
    flex: 0 0 11.11111%;
}
.grid > .row .cell.of-10 {
    flex: 0 0 10%;
}
.grid > .row .cell.of-11 {
    flex: 0 0 9.09091%;
}
.grid > .row .cell.of-12 {
    flex: 0 0 8.33333%;
}
.grid > .row .cell.fill {
    flex: 1 1 auto;
}
.grid > .row .cell.fit {
    flex: 0 0 auto;
}
.grid > .row .do-the-center-thing {
    display: flex;
    align-items: center;
}
.grid > .row.is-column {
    flex-direction: column;
}
.grid > .row.has-gutters {
    margin: -1rem 0 0 -1rem;
}
.grid > .row.has-gutters > .cell {
    margin: 1rem 0 0 1rem;
}
.grid > .row.center-stuff {
    justify-content: center;
}
.grid > .row.start-stuff {
    align-items: flex-start;
}
.grid > .row.end-stuff {
    align-items: flex-end;
}
h1 {
    margin: 0;
    padding-top: 1em;
    color: white;
    font-size: 3em;
    text-align: center;
}
form input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
}
form input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
form input#acct {
    margin-bottom: 0;
}
form input:focus, textarea:focus {
    border: 1px solid #0061AA;
}
textarea {
    display: block;
    resize: vertical;
    outline: none;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
textarea#issue {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 86px;
    max-height: 140px;
    margin-top: 1em;
}
textarea#result {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    resize: none;
}
.button {
    display: block;
    margin: 0px auto;
    margin-top: 1em;
    padding: 0.5em 1em;
    color: white;
    font-weight: bold;
    background-color: #0061AA;
    border: none;
    border: 2px solid transparent;
    border-radius: 2px;
}
.button:hover, .button:active, .button:focus {
    background-color: #ededed;
    color: #0061AA;
    cursor: pointer;
    border: 2px solid #0061AA;
}
